%h1 StaticPages#contact
%p Find me in app/views/static_pages/contact.html.haml

.page-content
	%span Hello 
	.sub-content
		%p whatevs
.page-content.row
	.col-md-3
		.row
			as;dokjsaa
	.col-md-3
		asdlkjasdasdadasd
	.col-md-3
		czxcmnasdadasdasdadadadsa
	.col-md-3
		.row
			.col-md-6
				qqqqq
			.col-md-6
				dffff