%section.box#home
  .container
    .panel
      .row-fluid
        .col-md-12.header
          %hgroup#intro
            .logo-container
              =image_tag('logo.png')
            %h2 CALAMBA LIGHTS
            %h3 Electrical Supplies and General Merchandise
            %h6 Started 1995 of November 28 as a small store of electrical supplies with fluorescent lamps and incandescent light bulbs as the main product. With a vision to engage in the retail, wholesale, distribution of Electrical, Electronic, Hardware, Industrial Supplies and General Merchandise throughout the Calabarzon area and the rest of the island.
          .intro-btn-block
            %a.btn.btn-lg.btn-success{'data-nav' => 'scroll', href: '#products'}
              Lazada Shop

%section.box#products
  .container
    .panel
      .row-fluid
        .col-md-12.header
          %hgroup
            %h2 Shop
          %ul.row-fluid
            %li.col-md-4
              %span
                %i.icon-2x.icon-bell
                %span
                  Quality Products
            %li.col-md-4
              %span
                %i.icon-2x.icon-bolt
                %span
                  Fast Delivery
            %li.col-md-4
              %span
                %i.icon-2x.icon-flag
                %span
                  Reliable Service
      .row-fluid
        .col-md-12.content#shop
          .iframe-rwd
            %iframe{frameborder: "0", src: "http://www.lazada.com.ph/calamba-lights/", style: "border:0", width: "100%", height: "100%"}

%section.box
  .container
    .panel
      .row-fluid
        .col-md-12.header
          %hgroup
            %h2 Contact
      .row-fluid#contact
        .col-md-12.content
          .row-fluid
            .col-md-6
              .iframe-rwd
                %iframe{frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7736.031372523412!2d121.1453798!3d14.1938596!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd63bfffd98561%3A0xb09a300e84a0062e!2sCalamba+Lights+Electrical+Supplies+%26+Gen.+MDSE.!5e0!3m2!1sen!2s!4v1406362550140", style: "border:0", width: "600"}
            .col-md-6
              .row-fluid
                .col-md-12#address
                  %ul
                    %li
                      %span
                        %i.icon-2x.icon-map-marker
                        %span
                          Block 119, Lot 92, Phase 7, Villa de Calamba,
                          %br
                          La Mesa, Calamba City PH 4027
                    %li
                      %span
                        %i.icon-1x.icon-phone
                        %span
                          +63 49 545 7224
                    %li
                      %span
                        %i.icon-1x.icon-suitcase
                        %span
                          +63 49 545 7307
                    %li
                      %span
                        %i.icon-1x.icon-envelope
                        %a{href: 'mailto:calambalights@gmail.com'}
                          %span
                            calambalights@gmail.com
                    %li
                      %hr.line
                      =image_tag('owner.jpg', alt: 'owner-primar-pic')
                      %h3
                        %a{href: 'https://www.linkedin.com/pub/cet-dizon/6/8a6/24a'}
                          Cet Dizon II
