#header{
  background: none repeat scroll 0 0 #000;
  display: inline-block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 40px;
}

span#logo{
  font-size: 1.8em;
}

nav.navbar.navbar-default{
  background: #000;
  font-size: 15em;
}
#brand img{
  margin-top: -7px;
}

li#logo{
  margin-top: 15px;
}