.social-media
  .container
    .social-container
      %a.s-icon-skype{href: '#'}
      %a.s-icon-facebook{href: '#'}
      %a.s-icon-twitter{href: '#'}

%a#back-top{href: 'javascript:void(0)'}
  %i.icon-chevron-up
