.social-media
  .container
    .social-container
      %a.s-icon-linkedin{href: 'https://www.linkedin.com/pub/cet-dizon/6/8a6/24a'}
      %a.s-icon-email{href: 'mailto:calambalights@gmail.com'}
      %a.s-icon-facebook{href: 'https://www.facebook.com/CalambaLights'}

      .copyright
        %span
          2014
          &#169
          calambalights.org


%a#back-top{href: '#home', style: 'display: inline;'}
  %i.icon-chevron-up
