.social-media
  .container
    .social-container
      %a.s-icon-skype{href: '#'}
      %a.s-icon-facebook{href: 'https://www.facebook.com/CalambaLights'}
      %a.s-icon-twitter{href: '#'}
      .copyright
        %span
          2014
          &#169
          calambalights.org

%a#back-top{href: '#home', style: 'display: inline;'}
  %i.icon-chevron-up
